body {
    height: 80%;
    width: 40%;
    border: 1px solid black;
    position: absolute;
    left: 30%;
}

h1 {
    text-align: center;
}

main {
    height: 75%;
    border-bottom: 1px solid black;
}

footer input {
    width: 75%;
    margin: 2%;
}

footer button {
    width: 15%;
}

footer input, footer button {
    margin-top: 2.5%;
}